[submodule "pelican/plugins"]
	path = pelican/plugins
	url = https://github.com/getpelican/pelican-plugins
[submodule "pelican/pelican/plugins"]
	path = pelican/pelican/plugins
	url = https://github.com/getpelican/pelican-plugins
